<div>
  <h2 id="page-heading" data-cy="SystemParameterInstitutionHeading">
    <span jhiTranslate="parqueaderosApp.systemParameterInstitution.home.title">System Parameter Institutions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="parqueaderosApp.systemParameterInstitution.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-system-parameter-institution"
        [routerLink]="['/system-parameter-institution/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="parqueaderosApp.systemParameterInstitution.home.createLabel"> Create a new System Parameter Institution </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="systemParameterInstitutions?.length === 0">
    <span jhiTranslate="parqueaderosApp.systemParameterInstitution.home.notFound">No systemParameterInstitutions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="systemParameterInstitutions && systemParameterInstitutions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="value">
            <span jhiTranslate="parqueaderosApp.systemParameterInstitution.value">Value</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="active">
            <span jhiTranslate="parqueaderosApp.systemParameterInstitution.active">Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parameter.name">
            <span jhiTranslate="parqueaderosApp.systemParameterInstitution.parameter">Parameter</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="institution.name">
            <span jhiTranslate="parqueaderosApp.systemParameterInstitution.institution">Institution</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let systemParameterInstitution of systemParameterInstitutions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/system-parameter-institution', systemParameterInstitution.id, 'view']">{{
              systemParameterInstitution.id
            }}</a>
          </td>
          <td>{{ systemParameterInstitution.value }}</td>
          <td>{{ systemParameterInstitution.active }}</td>
          <td>
            <div *ngIf="systemParameterInstitution.parameter">
              <a [routerLink]="['/system-parameters', systemParameterInstitution.parameter?.id, 'view']">{{
                systemParameterInstitution.parameter?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="systemParameterInstitution.institution">
              <a [routerLink]="['/institution', systemParameterInstitution.institution?.id, 'view']">{{
                systemParameterInstitution.institution?.name
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/system-parameter-institution', systemParameterInstitution.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/system-parameter-institution', systemParameterInstitution.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(systemParameterInstitution)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="systemParameterInstitutions && systemParameterInstitutions.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
