<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="functionality">
      <h2 data-cy="functionalityDetailsHeading"><span jhiTranslate="parqueaderosApp.functionality.detail.title">Functionality</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ functionality.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="parqueaderosApp.functionality.name" [ngbTooltip]="'parqueaderosApp.functionality.help.name' | translate"
            >Name</span
          >
        </dt>
        <dd>
          <span>{{ functionality.name }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="parqueaderosApp.functionality.description"
            [ngbTooltip]="'parqueaderosApp.functionality.help.description' | translate"
            >Description</span
          >
        </dt>
        <dd>
          <span>{{ functionality.description }}</span>
        </dd>
        <dt>
          <span jhiTranslate="parqueaderosApp.functionality.icon" [ngbTooltip]="'parqueaderosApp.functionality.help.icon' | translate"
            >Icon</span
          >
        </dt>
        <dd>
          <span>{{ functionality.icon }}</span>
        </dd>
        <dt>
          <span jhiTranslate="parqueaderosApp.functionality.url" [ngbTooltip]="'parqueaderosApp.functionality.help.url' | translate"
            >Url</span
          >
        </dt>
        <dd>
          <span>{{ functionality.url }}</span>
        </dd>
        <dt>
          <span jhiTranslate="parqueaderosApp.functionality.active" [ngbTooltip]="'parqueaderosApp.functionality.help.active' | translate"
            >Active</span
          >
        </dt>
        <dd>
          <span>{{ functionality.active }}</span>
        </dd>
        <dt><span jhiTranslate="parqueaderosApp.functionality.parent">Parent</span></dt>
        <dd>
          <div *ngIf="functionality.parent">
            <a [routerLink]="['/functionality', functionality.parent?.id, 'view']">{{ functionality.parent?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/functionality', functionality.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
