<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tariff">
      <h2 data-cy="tariffDetailsHeading"><span jhiTranslate="parqueaderosApp.tariff.detail.title">Tariff</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ tariff.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="parqueaderosApp.tariff.initialDate" [ngbTooltip]="'parqueaderosApp.tariff.help.initialDate' | translate"
            >Initial Date</span
          >
        </dt>
        <dd>
          <span>{{ tariff.initialDate | formatMediumDate }}</span>
        </dd>
        <dt>
          <span jhiTranslate="parqueaderosApp.tariff.finalDate" [ngbTooltip]="'parqueaderosApp.tariff.help.finalDate' | translate"
            >Final Date</span
          >
        </dt>
        <dd>
          <span>{{ tariff.finalDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="parqueaderosApp.tariff.institution">Institution</span></dt>
        <dd>
          <div *ngIf="tariff.institution">
            <a [routerLink]="['/institution', tariff.institution?.id, 'view']">{{ tariff.institution?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tariff', tariff.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
