<div>
  <h2 id="page-heading" data-cy="ItemCatalogueHeading">
    <span jhiTranslate="parqueaderosApp.itemCatalogue.home.title">Item Catalogues</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="parqueaderosApp.itemCatalogue.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-item-catalogue"
        [routerLink]="['/item-catalogue/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="parqueaderosApp.itemCatalogue.home.createLabel"> Create a new Item Catalogue </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="itemCatalogues?.length === 0">
    <span jhiTranslate="parqueaderosApp.itemCatalogue.home.notFound">No itemCatalogues found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="itemCatalogues && itemCatalogues.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="parqueaderosApp.itemCatalogue.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="code">
            <span jhiTranslate="parqueaderosApp.itemCatalogue.code">Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="parqueaderosApp.itemCatalogue.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="catalogCode">
            <span jhiTranslate="parqueaderosApp.itemCatalogue.catalogCode">Catalog Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="active">
            <span jhiTranslate="parqueaderosApp.itemCatalogue.active">Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="catalogue.id">
            <span jhiTranslate="parqueaderosApp.itemCatalogue.catalogue">Catalogue</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemCatalogue of itemCatalogues; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/item-catalogue', itemCatalogue.id, 'view']">{{ itemCatalogue.id }}</a>
          </td>
          <td>{{ itemCatalogue.name }}</td>
          <td>{{ itemCatalogue.code }}</td>
          <td>{{ itemCatalogue.description }}</td>
          <td>{{ itemCatalogue.catalogCode }}</td>
          <td>
            <div *ngIf="itemCatalogue.active; else templateName">SI</div>
            <ng-template #templateName> NO </ng-template>
          </td>
          <td>
            <div *ngIf="itemCatalogue.catalogue">
              <a [routerLink]="['/catalogue', itemCatalogue.catalogue?.id, 'view']">{{ itemCatalogue.catalogue?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/item-catalogue', itemCatalogue.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/item-catalogue', itemCatalogue.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(itemCatalogue)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="itemCatalogues && itemCatalogues.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
