<div>
  <h2 id="page-heading" data-cy="AuthorityFunctionalityHeading">
    <span jhiTranslate="parqueaderosApp.authorityFunctionality.home.title">Authority Functionalities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="parqueaderosApp.authorityFunctionality.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-authority-functionality"
        [routerLink]="['/authority-functionality/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="parqueaderosApp.authorityFunctionality.home.createLabel"> Create a new Authority Functionality </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="authorityFunctionalities?.length === 0">
    <span jhiTranslate="parqueaderosApp.authorityFunctionality.home.notFound">No authorityFunctionalities found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="authorityFunctionalities && authorityFunctionalities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="authority">
            <span jhiTranslate="parqueaderosApp.authorityFunctionality.authority">Authority</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="priority">
            <span jhiTranslate="parqueaderosApp.authorityFunctionality.priority">Priority</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="active">
            <span jhiTranslate="parqueaderosApp.authorityFunctionality.active">Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="functionality.name">
            <span jhiTranslate="parqueaderosApp.authorityFunctionality.functionality">Functionality</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let authorityFunctionality of authorityFunctionalities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/authority-functionality', authorityFunctionality.id, 'view']">{{ authorityFunctionality.id }}</a>
          </td>
          <td>{{ authorityFunctionality.authority }}</td>
          <td>{{ authorityFunctionality.priority }}</td>
          <td>{{ authorityFunctionality.active }}</td>
          <td>
            <div *ngIf="authorityFunctionality.functionality">
              <a [routerLink]="['/functionality', authorityFunctionality.functionality?.id, 'view']">{{
                authorityFunctionality.functionality?.name
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/authority-functionality', authorityFunctionality.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/authority-functionality', authorityFunctionality.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(authorityFunctionality)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="authorityFunctionalities && authorityFunctionalities.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
