<div>
  <h2 id="page-heading" data-cy="ContractHeading">
    <span jhiTranslate="parqueaderosApp.contract.home.title">Contracts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="parqueaderosApp.contract.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contract"
        [routerLink]="['/contract/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="parqueaderosApp.contract.home.createLabel"> Create a new Contract </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="contracts?.length === 0">
    <span jhiTranslate="parqueaderosApp.contract.home.notFound">No contracts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="contracts && contracts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="number">
            <span jhiTranslate="parqueaderosApp.contract.number">Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="initDate">
            <span jhiTranslate="parqueaderosApp.contract.initDate">Init Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="endDate">
            <span jhiTranslate="parqueaderosApp.contract.endDate">End Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="value">
            <span jhiTranslate="parqueaderosApp.contract.value">Value</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="hours">
            <span jhiTranslate="parqueaderosApp.contract.hours">Hours</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status.name">
            <span jhiTranslate="parqueaderosApp.contract.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contractor.fullName">
            <span jhiTranslate="parqueaderosApp.contract.contractor">Contractor</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contract of contracts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/contract', contract.id, 'view']">{{ contract.id }}</a>
          </td>
          <td>{{ contract.number }}</td>
          <td>{{ contract.initDate | formatMediumDate }}</td>
          <td>{{ contract.endDate | formatMediumDate }}</td>
          <td>{{ contract.value }}</td>
          <td>{{ contract.hours }}</td>
          <td>
            <div *ngIf="contract.status">
              <a [routerLink]="['/item-catalogue', contract.status?.id, 'view']">{{ contract.status?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="contract.contractor">
              <a [routerLink]="['/person', contract.contractor?.id, 'view']">{{ contract.contractor?.fullName }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/contract', contract.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/contract', contract.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(contract)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="contracts && contracts.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
