<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="systemParameterInstitution">
      <h2 data-cy="systemParameterInstitutionDetailsHeading">
        <span jhiTranslate="parqueaderosApp.systemParameterInstitution.detail.title">System Parameter Institution</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ systemParameterInstitution.id }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="parqueaderosApp.systemParameterInstitution.value"
            [ngbTooltip]="'parqueaderosApp.systemParameterInstitution.help.value' | translate"
            >Value</span
          >
        </dt>
        <dd>
          <span>{{ systemParameterInstitution.value }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="parqueaderosApp.systemParameterInstitution.active"
            [ngbTooltip]="'parqueaderosApp.systemParameterInstitution.help.active' | translate"
            >Active</span
          >
        </dt>
        <dd>
          <span>{{ systemParameterInstitution.active }}</span>
        </dd>
        <dt><span jhiTranslate="parqueaderosApp.systemParameterInstitution.parameter">Parameter</span></dt>
        <dd>
          <div *ngIf="systemParameterInstitution.parameter">
            <a [routerLink]="['/system-parameters', systemParameterInstitution.parameter?.id, 'view']">{{
              systemParameterInstitution.parameter?.name
            }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="parqueaderosApp.systemParameterInstitution.institution">Institution</span></dt>
        <dd>
          <div *ngIf="systemParameterInstitution.institution">
            <a [routerLink]="['/institution', systemParameterInstitution.institution?.id, 'view']">{{
              systemParameterInstitution.institution?.name
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/system-parameter-institution', systemParameterInstitution.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
