<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-item-catalogue-heading"
        data-cy="ItemCatalogueCreateUpdateHeading"
        jhiTranslate="parqueaderosApp.itemCatalogue.home.createOrEditLabel"
      >
        Create or edit a Item Catalogue
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="parqueaderosApp.itemCatalogue.name"
            for="field_name"
            [ngbTooltip]="'parqueaderosApp.itemCatalogue.help.name' | translate"
            >Name</label
          >
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="parqueaderosApp.itemCatalogue.code"
            for="field_code"
            [ngbTooltip]="'parqueaderosApp.itemCatalogue.help.code' | translate"
            >Code</label
          >
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('code')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="parqueaderosApp.itemCatalogue.description"
            for="field_description"
            [ngbTooltip]="'parqueaderosApp.itemCatalogue.help.description' | translate"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="parqueaderosApp.itemCatalogue.catalogCode"
            for="field_catalogCode"
            [ngbTooltip]="'parqueaderosApp.itemCatalogue.help.catalogCode' | translate"
            >Catalog Code</label
          >
          <input
            type="text"
            class="form-control"
            name="catalogCode"
            id="field_catalogCode"
            data-cy="catalogCode"
            formControlName="catalogCode"
          />
          <div *ngIf="editForm.get('catalogCode')!.invalid && (editForm.get('catalogCode')!.dirty || editForm.get('catalogCode')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('catalogCode')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="parqueaderosApp.itemCatalogue.active"
            for="field_active"
            [ngbTooltip]="'parqueaderosApp.itemCatalogue.help.active' | translate"
            >Active</label
          >
          <input type="checkbox" class="form-check" name="active" id="field_active" data-cy="active" formControlName="active" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="parqueaderosApp.itemCatalogue.catalogue" for="field_catalogue">Catalogue</label>
          <select class="form-control" id="field_catalogue" data-cy="catalogue" name="catalogue" formControlName="catalogue">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="catalogueOption.id === editForm.get('catalogue')!.value?.id ? editForm.get('catalogue')!.value : catalogueOption"
              *ngFor="let catalogueOption of cataloguesSharedCollection; trackBy: trackCatalogueById"
            >
              {{ catalogueOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
