<div class="row">
  <div><h2>Sistema de parqueaderos Loja</h2></div>
  <div class="col-md-12">
    <agm-map [zoom]="16" [latitude]="lat" [longitude]="lng" [mapTypeControl]="true">
      <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window #infoWindow>
          <div>Tu posición</div>
        </agm-info-window>
      </agm-marker>

      <agm-circle [latitude]="lat" [longitude]="lng" [radius]="200" [fillColor]="'red'" [circleDraggable]="false" [editable]="false">
      </agm-circle>

      <agm-marker
        *ngFor="let institution of freePlaces; let i = index"
        [latitude]="institution.latitude!"
        [longitude]="institution.longitude!"
      >
        <agm-info-window #infoWindow>
          <div>Parqueadero: {{ institution.name }}</div>
          <div>
            Puestos disponibles:
            <h2 class="text-center">{{ institution.availables }}</h2>
          </div>
          <br />

          <div *ngIf="institution.availables">
            <button class="btn btn-info btn-sm col-md-12" (click)="preReserve(institution?.id!)">
              <fa-icon icon="plus"></fa-icon>
              <span>Reservar</span>
            </button>
          </div>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
