<div>
  <h2 id="page-heading" data-cy="HoraryHeading">
    <span jhiTranslate="parqueaderosApp.horary.home.title">Horaries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="parqueaderosApp.horary.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-horary"
        [routerLink]="['/horary/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="parqueaderosApp.horary.home.createLabel"> Create a new Horary </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="horaries?.length === 0">
    <span jhiTranslate="parqueaderosApp.horary.home.notFound">No horaries found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="horaries && horaries.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="parqueaderosApp.horary.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="startTime">
            <span jhiTranslate="parqueaderosApp.horary.startTime">Start Time</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="finalHour">
            <span jhiTranslate="parqueaderosApp.horary.finalHour">Final Hour</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status.name">
            <span jhiTranslate="parqueaderosApp.horary.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contract.id">
            <span jhiTranslate="parqueaderosApp.horary.contract">Contract</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let horary of horaries; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/horary', horary.id, 'view']">{{ horary.id }}</a>
          </td>
          <td>{{ horary.name }}</td>
          <td>{{ horary.startTime | formatMediumDatetime }}</td>
          <td>{{ horary.finalHour | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="horary.status">
              <a [routerLink]="['/item-catalogue', horary.status?.id, 'view']">{{ horary.status?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="horary.contract">
              <a [routerLink]="['/contract', horary.contract?.id, 'view']">{{ horary.contract?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/horary', horary.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/horary', horary.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(horary)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="horaries && horaries.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
