<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-institution-heading"
        data-cy="InstitutionCreateUpdateHeading"
        jhiTranslate="parqueaderosApp.institution.home.createOrEditLabel"
      >
        Create or edit a Institution
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_name" [ngbTooltip]="'parqueaderosApp.institution.help.name' | translate"
            >Nombre</label
          >
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_address" [ngbTooltip]="'parqueaderosApp.institution.help.address' | translate"
            >Dirección</label
          >
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            for="field_placesNumber"
            [ngbTooltip]="'parqueaderosApp.institution.help.placesNumber' | translate"
            >Espacios de parqueo</label
          >
          <input
            type="number"
            class="form-control"
            name="placesNumber"
            id="field_placesNumber"
            data-cy="placesNumber"
            formControlName="placesNumber"
          />
          <div
            *ngIf="editForm.get('placesNumber')!.invalid && (editForm.get('placesNumber')!.dirty || editForm.get('placesNumber')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('placesNumber')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('placesNumber')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_ruc" [ngbTooltip]="'parqueaderosApp.institution.help.ruc' | translate">RUC</label>
          <input type="text" class="form-control" name="ruc" id="field_ruc" data-cy="ruc" formControlName="ruc" />
          <div *ngIf="editForm.get('ruc')!.invalid && (editForm.get('ruc')!.dirty || editForm.get('ruc')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ruc')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_acronym" [ngbTooltip]="'parqueaderosApp.institution.help.acronym' | translate"
            >Siglas para ticket</label
          >
          <input type="text" class="form-control" name="acronym" id="field_acronym" data-cy="acronym" formControlName="acronym" />
          <div *ngIf="editForm.get('acronym')!.invalid && (editForm.get('acronym')!.dirty || editForm.get('acronym')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('acronym')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="parqueaderosApp.institution.canton" for="field_canton">Canton</label>
          <select class="form-control" id="field_canton" data-cy="canton" name="canton" formControlName="canton">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="itemCatalogueOption.id === editForm.get('canton')!.value?.id ? editForm.get('canton')!.value : itemCatalogueOption"
              *ngFor="let itemCatalogueOption of itemCataloguesSharedCollection; trackBy: trackItemCatalogueById"
            >
              {{ itemCatalogueOption.name }}
            </option>
          </select>
        </div>

        <div class="col-md-12">
          <agm-map [zoom]="16" [latitude]="latitude" [longitude]="longitude" [mapTypeControl]="true">
            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
              <agm-info-window #infoWindow>
                <div>Mueve el marcador</div>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="field_latitude" [ngbTooltip]="'parqueaderosApp.institution.help.latitude' | translate"
                >Latitud</label
              >
              <input type="number" class="form-control" name="latitude" id="field_latitude" data-cy="latitude" formControlName="latitude" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label
                class="form-control-label"
                for="field_longitude"
                [ngbTooltip]="'parqueaderosApp.institution.help.longitude' | translate"
                >Longitud</label
              >
              <input
                type="number"
                class="form-control"
                name="longitude"
                id="field_longitude"
                data-cy="longitude"
                formControlName="longitude"
              />
            </div>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
